<article>
    <a href="{{ .RelPermalink }}">
        <div class="article-details">

            <h2 class="article-title">
                {{- .Title -}}
            </h2>

            <footer class="article-time">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </footer>
        </div>

        {{ if $.Params.emoji }}
            <div class="article-emoji">
                <object type="image/svg+xml" data="https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/{{ lower $.Params.emoji }}.svg" width="48" height="48"></object>
            </div>
        {{ end }}
    </a>
</article>