<article class="{{ if $.context.Params.emoji }}has-image{{ end }}">
    <a href="{{ .context.RelPermalink }}">

        {{ if $.context.Params.emoji }}
            <div class="article-emoji">
                <object type="image/svg+xml" data="https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/svg/{{ lower $.context.Params.emoji }}.svg" width="48" height="48"></object>
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
        </div>

    </a>
</article>